/* icon */
.show-icon:not(:empty)::before {
    padding-right: var(--length-space);
}

/* checkbox */
.checkbox {
    border-radius: var(--length-space);
    color: var(--color-light);
    cursor: pointer;
    line-height: 1;
    min-width: 1em;
    padding: var(--length-space);
    text-align: center;
}

.checkbox.left {
    text-align: left;
}

.checkbox.checked {
    color: var(--color-variable);
}

.checkbox:hover,
.checkbox.checking {
    background-color: var(--color-slice);
}

button.show-icon.show-name::before,
.checkbox.show-icon.show-name::before {
    padding-right: var(--length-space);
}

button[data-name].show-name::after,
.checkbox[data-name].show-name::after {
    content: attr(data-name);
    text-transform: capitalize;
}

/* form */
.form>:not(:first-child) {
    margin-top: var(--length-gap);
}

.form,
.form-line {
    display: flex;
    flex-direction: column;
}

.form>*,
.form-line>* {
    flex-shrink: 0;
}

.form-line[data-name]::before {
    display: block;
    color: var(--color-light);
    content: attr(data-name);
    font-size: var(--length-font-log);
    text-transform: capitalize;
}

/* number bar */
.number-bar {
    align-items: center;
    display: flex;
    gap: var(--length-space);
}

.number-bar>.track {
    flex-grow: 1;
}

.number-bar>.track>.bar {
    border-radius: 1px;
    height: 2px;
    margin: .5em 0;
}

.number-bar>.value {
    color: var(--color-light);
    font-size: var(--length-font-log);
}

.number-bar[data-name]:before {
    color: var(--color-light);
    content: attr(data-name);
    font-size: var(--length-font-log);
    text-transform: capitalize;
}

/* hide */
.collapse {
    visibility: collapse;
}

.hide {
    display: none !important;
}

.invisible {
    visibility: hidden;
}

.translucent {
    opacity: .5;
}

.transparent {
    opacity: 0;
}

/* warn */
.warn {
    color: var(--color-warn);
}