/* dark */
html[data-color-scheme=dark] .dark {
    filter: brightness(.5);
}

html[data-color-scheme=dark] .invert {
    filter: invert(.9147982) brightness(.8745098);
}

@media (prefers-color-scheme: dark) {
    html:not([data-color-scheme=light]) .dark {
        filter: brightness(.5);
    }

    html:not([data-color-scheme=light]) .invert {
        filter: invert(.9147982) brightness(.8745098);
    }
}

/* hide */
.collapse {
    visibility: collapse;
}

.hide {
    display: none !important;
}

.invisible {
    visibility: hidden;
}

.translucent {
    opacity: .5;
}

.transparent {
    opacity: 0;
}

/* others */
.log {
    font-size: var(--length-font-log);
}

.stretch {
    display: grid;
    grid-template-columns: 1fr;
    margin: var(--length-gap) 0;
}

.warn {
    color: var(--color-warn);
}