/* hide */
.collapse {
    visibility: collapse;
}

.hide {
    display: none !important;
}

.invisible {
    visibility: hidden;
}

.translucent {
    opacity: .5;
}

.transparent {
    opacity: 0;
}

/* warn */
.warn {
    color: var(--color-warn);
}