.icomoon {
    font-family: var(--font-icomoon) !important;
}

.icomoon.star::before {
    content: "\e905";
    display: inline-block;
}

.icomoon.refresh::before {
    content: "\e904";
    display: inline-block;
}

.icomoon.comment::before {
    content: "\e900";
    display: inline-block;
}

.icomoon.send::before {
    content: "\e902";
    display: inline-block;
}

.icomoon.logout::before {
    content: "\e907";
    display: inline-block;
}

.icomoon.login::before {
    content: "\e908";
    display: inline-block;
}

.icomoon.add::before {
    content: "\e901";
    display: inline-block;
}

.icomoon.settings::before {
    content: "\e906";
    display: inline-block;
}

.icomoon.messages::before {
    content: "\e909";
    display: inline-block;
}

.icomoon.img::before {
    content: "\e90a";
    display: inline-block;
}

.icomoon.view::before {
    content: "\e90c";
    display: inline-block;
}

.icomoon.about::before {
    content: "\e90d";
    display: inline-block;
}

.icomoon.search::before {
    content: "\e90e";
    display: inline-block;
}

.icomoon.doc::before {
    content: "\e90f";
    display: inline-block;
}

.icomoon.issures::before {
    content: "\eab0";
    display: inline-block;
}

.icomoon.delete::before {
    content: "\e90b";
    display: inline-block;
}

.icomoon.menu::before {
    content: "\e903";
    display: inline-block;
}

.icomoon.pause::before {
    content: "\e910";
    display: inline-block;
}

.icomoon.play::before {
    content: "\e911";
    display: inline-block;
}