body>.lr-struct>main {
    box-sizing: border-box;
    display: flow-root;
    margin-left: var(--length-width-side);
    min-height: 100vh;
    white-space: pre-wrap;
}

body>.lr-struct>button {
    display: none;
    left: 0;
    position: fixed;
    top: 0;
}

body>.lr-struct>aside {
    background-color: var(--color-pre);
    border-right: 1px solid var(--color-border);
    box-sizing: border-box;
    display: flow-root;
    height: 100vh;
    left: 0;
    max-width: 90%;
    position: fixed;
    top: 0;
    white-space: pre-wrap;
    width: var(--length-width-side);
}

@media screen and (max-width:960px) {
    body>.lr-struct>aside:not(.active) {
        display: none;
    }

    body>.lr-struct>button {
        display: block;
    }

    body>.lr-struct>main {
        margin-left: 0 !important;
    }
}

body>.lr-struct>aside>.sash {
    cursor: ew-resize;
    height: 100%;
    position: absolute;
    right: -5px;
    top: 0;
    width: 10px;
}

body>.lr-struct.sashing>aside>.sash {
    background-color: var(--color-slice);
}

body>.lr-struct>aside>.content.vanished {
    display: none;
}

@media print {
    body>.lr-struct {
        min-height: 0;
    }

    body>.lr-struct>main {
        margin-left: 0 !important;
    }

    body>.lr-struct>aside,
    body>.lr-struct>button {
        display: none;
    }
}