body>.lr-struct>main>article {
    display: flow-root;
    margin: 0 auto;
    margin-bottom: 100vh;
    max-width: var(--length-width);
    min-width: 100px;
    padding: 0 var(--length-padding);
}

@media print {
    body>.lr-struct>main>article {
        margin: 0;
        padding: 0;
    }
}

body>.lr-struct>aside>.content {
    height: 100%;
    overflow: auto;
}

body>.lr-struct>aside>.content>* {
    margin: var(--length-padding);
}