@font-face{font-family:"main";src:url(main.css)}.show-icon.main::before{font-family:"main";content:"A"}
@font-face{font-family:"menu";src:url(menu.woff)}.show-icon.menu::before{font-family:"menu";content:"A"}
